.bgcontainer {
    background-image: url("../Assets/Images/fondoLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 100px) {
    .alto100 {
        height: 100vh;
    }
}

.card {
    border-radius: 10px !important;
}

.card-title {
    color: rgb(210, 13, 223);
}

.card-body {
    margin: 30px !important;
}

.btn {
    background-color: rgb(170, 83, 237) !important;
    border-color: rgb(112, 40, 167) !important;
}

input {
    border-color: rgb(170, 83, 237) !important;
    outline: none !important;
}

.mostrar {
    display: block !important;
    margin-top: 25px !important;
}

.mostrar input {
    border-color: red !important;
}

.ocultar {
    display: none !important;
}